<div class="header">
  <h1 class="logo-text"> DEVELOPER FORM </h1>
</div>
<div class="wrapper">
  <div class="container">
    <form [formGroup]="developerForm" (ngSubmit)="send()"> 
      <mat-form-field class="example-form-field">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
        <button *ngIf="developerForm.get('name')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('name')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Surname</mat-label>
        <input matInput type="text" formControlName="surname">
        <button *ngIf="developerForm.get('surname')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('surname')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birth">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Framework</mat-label>
        <mat-select formControlName="technology">
          <mat-option *ngFor="let framework of frameworksList" [value]="framework">
            {{framework}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field >
        <mat-label>Framework version</mat-label>
        <mat-select formControlName="version">
          <mat-option *ngFor="let version of versions" [value]="version">
            {{version}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <button *ngIf="developerForm.get('email')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear('email')">
          <mat-icon>close</mat-icon>
        </button>

        <mat-error *ngIf="developerForm.get('email')!.hasError('invalidAsync')">
          This email is already used
        </mat-error>
      </mat-form-field>
      <ng-container formArrayName="hobbies">
        <ng-container *ngFor="let hobby of hobbies.controls; let i = index">
          <ng-container [formGroupName]="i">
            <mat-form-field class="example-form-field">
              <mat-label>Hobby {{ i+1 }}</mat-label>
              <input matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field class="example-form-field">
              <mat-label>Duration</mat-label>
              <input matInput type="text" formControlName="duration">
            </mat-form-field>
          </ng-container>
        </ng-container>
      </ng-container>
      <div class="hobby-buttons">
        <button mat-raised-button color="primary" (click)="addHobby()">Add hobby</button>
        <button mat-raised-button color="warn" (click)="removeHobby()" [disabled]="isDisabled()">Remove hobby</button>
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!developerForm.valid">Submit</button>
    </form>
  </div>
</div>